@import "config";


.front-page {

    --padding: 2rem;

    --max-width: calc(100vw - var(--padding));

    padding: var(--padding) 0;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .front-page-column {
        height: 100%;
        padding: 1rem;
        .front-page-column-inner {
            position: relative;
            height: 100%;
            width: 100%;
/*             background: $background-color-2;
            box-shadow: 0 0 60px $box-shadow; */
            border-radius: $border-radius-big;
        }


    }

    & > * {
        max-width: var(--max-width);
    }
}

@media screen and (max-width: 1000px) {

}
