@import "config";


.front-page {
    position: relative;
    background: navy;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    .front-page-column {
        width: 50%;
        height: 100%;
        padding: 1rem;
        .front-page-column-inner {
            position: relative;
            height: 100%;
            width: 100%;
            background: lightgreen;
        }

        &:first-child {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .front-page {
        flex-direction: column;
        flex-wrap: nowrap;
        .front-page-column {
            height: unset;
            width: unset;

            &:first-child {
                padding-right: unset;
                padding-bottom: 0;
            }
        }
    }
}
