@import "config";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
    background: $background-color;
    font-family: 'Lato', sans-serif;
    color: $color;
}

a {
    text-decoration: none;
    color: $theme-color;
    transition: color .1s ease-in;
    &:hover {
        color: darken($theme-color, 10%);
    }
}

#root {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: $header-height auto 200px;
    grid-template-columns: 0 repeat(3, 33.333333333%) 0;
    grid-template-areas:
        "header header header header header"
        ".      front  front  front  ."
        "footer footer footer footer footer";
}

@media screen and (max-width: ($front-column-width * 3 + 16px)) {
    #root {

    }
}

.header {
    background: darkblue;
    grid-area: header;
}
.page {
    //min-height: calc(100vh - #{$header-height});
    grid-area: front;
}
.aside {
    grid-area: aside;
}
.footer {
    background: green;
    grid-area: footer;
}